{% load allauth %}

{% if attrs.type == "checkbox" or attrs.type == "radio" %}
    <div class="form-control">
        <label class="label cursor-pointer">
            <span class="label-text">
                {% slot label %}
            {% endslot %}
        </span>
        <input {% if attrs.required %}required{% endif %}
               name="{{ attrs.name }}"
               class="{% if attrs.type == 'checkbox' %}checkbox{% else %}radio{% endif %} {% if attrs.errors %}checkbox-error{% endif %}"
               id="{{ attrs.id }}"
               {% if attrs.value is not None %}value="{{ attrs.value }}"{% endif %}
               {% if attrs.disabled %}disabled{% endif %}
               type="{{ attrs.type }}">
    </label>
    {% if slots.help_text %}
        <div class="label">
            <span class="label-text-alt">
                {% slot help_text %}
            {% endslot %}
        </span>
    </div>
{% endif %}
{% if attrs.errors %}
    {% for error in attrs.errors %}
        <div class="label">
            <span class="label-text-alt text-error">{{ error }}</span>
        </div>
    {% endfor %}
{% endif %}
</div>
{% elif attrs.type == "textarea" %}
<div class="form-control">
    <label class="label" for="{{ attrs.id }}">
        <span class="label-text">
            {% slot label %}
        {% endslot %}
    </span>
</label>
<textarea {% if attrs.required %}required{% endif %}
          {% if attrs.rows %}rows="{{ attrs.rows }}"{% endif %}
          class="textarea textarea-bordered {% if attrs.errors %}textarea-error{% endif %}"
          name="{{ attrs.name }}"
          {% if attrs.readonly %}readonly{% endif %}
          id="{{ attrs.id }}"
          {% if attrs.disabled %}disabled{% endif %}
          {% if attrs.placeholder %}placeholder="{{ attrs.placeholder }}"{% endif %}>{% slot value %}{% endslot %}</textarea>
{% if slots.help_text %}
    <div class="label">
        <span class="label-text-alt">
            {% slot help_text %}
        {% endslot %}
    </span>
</div>
{% endif %}
{% if attrs.errors %}
    {% for error in attrs.errors %}
        <div class="label">
            <span class="label-text-alt text-error">{{ error }}</span>
        </div>
    {% endfor %}
{% endif %}
</div>
{% elif attrs.type == "hidden" %}
<input {% if attrs.required %}required{% endif %}
       name="{{ attrs.name }}"
       id="{{ attrs.id }}"
       {% if attrs.value is not None %}value="{{ attrs.value }}"{% endif %}
       type="hidden">
{% elif attrs.type == "select" %}
<div class="form-control">
    <label class="label" for="{{ attrs.id }}">
        <span class="label-text">
            {% slot label %}
        {% endslot %}
    </span>
</label>
<select id="{{ attrs.id }}"
        name="{{ attrs.name }}"
        class="select select-bordered {% if attrs.errors %}select-error{% endif %}"
        {% if attrs.disabled %}disabled{% endif %}
        {% if attrs.required %}required{% endif %}>
    {% for option in attrs.choices %}
        <option {% if option.0 == attrs.value %}selected{% endif %}
                value="{{ option.0 }}">{{ option.1 }}</option>
    {% endfor %}
</select>
{% if slots.help_text %}
    <div class="label">
        <span class="label-text-alt">
            {% slot help_text %}
        {% endslot %}
    </span>
</div>
{% endif %}
{% if attrs.errors %}
    {% for error in attrs.errors %}
        <div class="label">
            <span class="label-text-alt text-error">{{ error }}</span>
        </div>
    {% endfor %}
{% endif %}
</div>
{% else %}
<div class="form-control">
    <label class="label" for="{{ attrs.id }}">
        <span class="label-text">
            {% slot label %}
        {% endslot %}
    </span>
</label>
<input {% if attrs.required %}required{% endif %}
       name="{{ attrs.name }}"
       {% if attrs.placeholder %}placeholder="{{ attrs.placeholder }}"{% endif %}
       class="input input-bordered {% if attrs.errors %}input-error{% endif %}"
       id="{{ attrs.id }}"
       {% if attrs.readonly %}readonly{% endif %}
       {% if attrs.disabled %}disabled{% endif %}
       {% if attrs.tabindex %}tabindex="{{ attrs.tabindex }}"{% endif %}
       {% if attrs.style %}style="{{ attrs.style }}"{% endif %}
       {% if attrs.autocomplete %}autocomplete="{{ attrs.autocomplete }}"{% endif %}
       {% if attrs.value is not None %}value="{{ attrs.value }}"{% endif %}
       type="{{ attrs.type }}">
{% if slots.help_text %}
    <div class="label">
        <span class="label-text-alt">
            {% slot help_text %}
        {% endslot %}
    </span>
</div>
{% endif %}
{% if attrs.errors %}
    {% for error in attrs.errors %}
        <div class="label">
            <span class="label-text-alt text-error">{{ error }}</span>
        </div>
    {% endfor %}
{% endif %}
</div>
{% endif %}
