<script nonce="{{ request.csp_nonce }}">
  const deleteModal = document.getElementById('deleteModal');
  const canceldeleteButton = document.querySelector('.modal-backdrop .cancel-delete-btn');

  $(document).on('click', '.delete-btn', function() {
    var slug = $(this).data('id');
    // Make an AJAX request to a Django view to get data for the modal
    $.ajax({
      url: '{% url "deadline:deadline_delete_modal" %}?slug=' + slug,
      success: function(data) {
        $('#delete-modal-body').html(data);
        deleteModal.showModal();
      }
    });
  });

  if (canceldeleteButton && deleteModal) {
    canceldeleteButton.addEventListener('click', function() {
      deleteModal.close();
    });
  }
</script>
