{% extends "components/layout/base.html" %}

{% load static %}

{% block title %}
    RSVP
{% endblock title %}
{% block content %}
    <img src="{% static 'core/img/rsvp.png' %}"
         alt="rsvp"
         class="max-w-sm rounded-lg justify-self-center" />
    <div class="hero bg-base-200 max-w-2xl mx-auto px-10 my-8 rounded-lg shadow-lg">
        <div class="hero-content text-center">
            <div class="max-w-md">
                <h1 class="text-3xl font-bold">{{ wedding_config.rsvp_success_headline }}</h1>
                {% if accepted %}
                    <p class="py-6">{{ wedding_config.rsvp_success_message }}</p>
                    <p class="py-6">
                        In the mean time you can learn more about the venue or find the answer to common questions about our big day
                    </p>
                    <div class="flex flex-row gap-4 justify-center">
                        <a href="{% url 'core:venue' %}"
                           class="btn btn-accent text-primary-content w-32">Venue Info</a>
                        <a href="{% url 'core:faq' %}"
                           class="btn btn-accent text-primary-content w-32">FAQ</a>
                    </div>
                {% else %}
                    <p class="py-6">{{ wedding_config.rsvp_decline_success_message }}</p>
                    <a href="{% url 'core:home' %}" class="btn btn-primary">Home</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
