{% extends "components/layout/base.html" %}

{% load static %}

{% block title %}
    {{ block_title }}
{% endblock title %}
{% block content %}
    <c-object-detail>
    {% if object.description %}
        <div class="space-y-4">
            <div>
                <div class="detail-card-field-name">Description</div>
                <div class="detail-card-field-value">{{ object.description }}</div>
            </div>
        </div>
    {% endif %}
    <div class="grid grid-cols-2 gap-4 mt-4">
        <div>
            <div class="detail-card-field-name">Quantity</div>
            <div class="detail-card-field-value">{{ object.quantity }}</div>
        </div>
        {% if object.completed_at %}
            <div>
                <div class="detail-card-field-name">Completion Date</div>
                <div class="detail-card-field-value">{{ object.completed_at|date:"F j, Y" }}</div>
            </div>
        {% endif %}
        <!-- Associated Expense -->
        {% if object.associated_expense %}
            <div>
                <div class="detail-card-field-name">Purchased</div>
                <div class="detail-card-field-value">{{ object.purchased|yesno:"Yes,No" }}</div>
            </div>
            <div>
                <div class="detail-card-field-name">Expense</div>
                <div class="detail-card-field-value">
                    <a href="{% url 'expenses:detail' object.associated_expense.slug %}">{{ object.associated_expense.item }}</a>
                </div>
            </div>
            {% if object.vendor %}
                <div>
                    <div class="detail-card-field-name">Vendor</div>
                    <div class="detail-card-field-value">
                        <a href="{% url 'contacts:detail' object.vendor.slug %}">{{ object.vendor }}</a>
                    </div>
                </div>
            {% endif %}
            {% if object.unit_price > 0 %}
                <div>
                    <div class="detail-card-field-name">Unit Price</div>
                    <div class="detail-card-field-value">${{ object.unit_price|floatformat:2 }}</div>
                </div>
            {% endif %}
            {% if object.additional_price > 0 %}
                <div>
                    <div class="detail-card-field-name">Additional Price</div>
                    <div class="detail-card-field-value">${{ object.additional_price|floatformat:2 }}</div>
                </div>
            {% endif %}
            {% if object.total_price > 0 %}
                <div>
                    <div class="detail-card-field-name">Total Price</div>
                    <div class="detail-card-field-value">${{ object.total_price|floatformat:2 }}</div>
                </div>
            {% endif %}
        {% endif %}
    </div>
    <c-slot name="detail_actions_content">
    Toggle Complete
    </c-slot>
    </c-object-detail>
{% endblock content %}
{% block extra_script %}
    <c-object.delete-script />
{% endblock extra_script %}
