<!-- Script to support the add attachment modal

-->
<script nonce="{{ request.csp_nonce }}">
  const addAttachmentModal = document.getElementById('addAttachmentModal');
  const cancelAddButton = document.querySelector('.modal-backdrop .cancel-add-btn');

  $(document).on('click', '.add-attachment-btn', function() {
    addAttachmentModal.showModal();
  });

  if (cancelAddButton && addAttachmentModal) {
    cancelAddButton.addEventListener('click', function() {
      addAttachmentModal.close();
    });
  }
</script>
