<!-- Object menu Dropdown 
 detail_action: url to view object's detail page
 update_action: url to edit object's details
 slug: unique identifier for the object (used in delete confirmation)
-->
<div class="dropdown dropdown-end">
    <div tabindex="0" role="button" class="btn btn-ghost btn-sm btn-circle">
        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16"></path>
        </svg>
    </div>
    <ul tabindex="0"
        class="dropdown-content menu bg-base-100 text-base-content rounded-box z-[1] w-32 p-2 shadow">
        <li>
            <a class="btn btn-sm btn-primary" href="{{ detail_action }}">
                <svg xmlns="http://www.w3.org/2000/svg"
                     class="h-4 w-4"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                </svg>
            </a>
        </li>
        <li>
            <a class="btn btn-sm btn-secondary" href="{{ update_action }}">
                <svg xmlns="http://www.w3.org/2000/svg"
                     class="h-4 w-4"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16.862 3.487l2.651 2.651a1.875 1.875 0 010 2.652L8.288 20.015a4.5 4.5 0 01-1.897 1.13l-3.38.96a.75.75 0 01-.926-.926l.96-3.38a4.5 4.5 0 011.13-1.897L16.862 3.487z" />
                    '
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19.5 7.125L16.862 4.487" />
                </svg>
            </a>
        </li>
        <li>
            <button class="btn btn-sm btn-error delete-btn" data-id="{{ slug }}">
                <svg xmlns="http://www.w3.org/2000/svg"
                     class="h-4 w-4"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 6h18M9 6V4h6v2m2 0v12a2 2 0 01-2 2H7a2 2 0 01-2-2V6h14z" />
                </svg>
            </button>
        </li>
    </ul>
</div>
