@import "tailwindcss";


@plugin "daisyui" {
    themes: dark --default --prefersdark;
    logs: true;
}

@plugin "daisyui/theme" {
    name: "dark";
    prefersdark: true;
    color-scheme: dark;
    --color-base-200: #819d76;
    --color-base-100: #d2ae98;
    --color-base-300: #67260b;
    --color-base-content: oklch(14% 0.005 285.823);
    --color-primary: #e0960b;
    --color-primary-content: oklch(96% 0.018 272.314);
    --color-secondary: #303a2b;
    --color-secondary-content: oklch(94% 0.028 342.258);
    --color-accent: #61303e;
    --color-accent-content: oklch(38% 0.063 188.416);
    --color-neutral: oklch(14% 0.005 285.823);
    --color-neutral-content: oklch(92% 0.004 286.32);
    --color-info: #303a2b;
    --color-info-content: #d2ae98;
    --color-success: oklch(76% 0.177 163.223);
    --color-success-content: oklch(37% 0.077 168.94);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: #61303e;
    --color-error: #ED4337;
    --color-error-content: oklch(27% 0.105 12.094);
    --radius-selector: 0.5rem;
    --radius-field: 2rem;
    --radius-box: 2rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 1;
    --ck-spacking-standard: 3em;

    /* Component styling */
    --rounded-box: 0rem;
    --rounded-btn: 0rem;
    --rounded-badge: 0rem;
    --animation-btn: 0.25s;
    --animation-input: 0.2s;
    --btn-focus-scale: 0.95;
    --border-btn: 1px;
    --tab-border: 1px;
    --tab-radius: 0rem;
    /* curves are bad, i guess */
    --radius-box: 0rem;
    --radius-card: 0rem;
    --radius-input: 0rem;
    --radius-field: 0rem;
    --radius-select: 0rem;
    --radius-toggle: 0rem;
    --radius-badge: 0rem;
    --radius-dropdown: 0rem;
    --radius-modal: 0rem;
    --radius-alert: 0rem;
}

/* custom */
.list-card {
    @apply card bg-base-300 shadow-xl hover:shadow-2xl transition-shadow duration-300 text-secondary-content;
}

.list-card-title {
    @apply card-title text-primary lg:text-xl text-lg
}

.list-card-body {
    @apply card-body px-6 py-4;
}

.list-add-btn {
    @apply btn btn-primary
}

.list-import-btn {
    @apply btn btn-primary
}

/* start table listing items from associated models */
.associated-card {
    @apply card bg-base-100 shadow-xl hover:shadow-2xl transition-shadow duration-300 text-base-content;
}

.associated-card-title {
    @apply card-title text-base-content lg:text-xl text-lg;
}

.associated-card-body {
    @apply card-body px-6 py-4;
}

.associated-table {
    @apply table w-full bg-base-300 text-secondary-content;
}

.associated-table-header {
    @apply text-primary;
}

.associated-table-checkbox {
    @apply checkbox border-neutral bg-base-100 checked:bg-base-100 checked:text-accent-content;
}

.associated-table-toggle {
    @apply toggle border-neutral bg-base-100 checked:text-accent-content;
}

/* end table listing items from associated models */
/* start object stats */
.stats-card {
    @apply mb-8;
}

.stats-card-stats {
    @apply stats shadow bg-base-200;
}

.stats-card-stat {
    @apply stat bg-base-200 text-base-content;
}

.stats-card-stat-title {
    @apply stat-title text-base-content lg:text-xl text-lg;
}

.stats-card-stat-value {
    @apply stat-value text-base-content text-center
}

.stats-card-stat-desc {
    @apply stat-desc text-base-content/70;
}

/* end object stats */

.upload-card {
    @apply card bg-neutral shadow-xl hover:shadow-2xl transition-shadow duration-300;
}

.our-story-card {
    @apply card bg-base-200 text-base-content gap-6 shadow-xl hover:shadow-2xl transition-shadow duration-300;
}

/* start object edit page */
.edit-card {
    @apply card bg-secondary text-secondary-content shadow-xl hover:shadow-2xl transition-shadow duration-300 p-6;
}

.edit-card-body {
    @apply px-6 py-4;
}

.edit-card-title {
    @apply card-title text-secondary-content lg:text-xl text-lg mb-4;
}

.edit-card-field-name {
    @apply text-secondary-content/60 font-semibold mb-2;
}

.edit-card-field-value {
    @apply w-full bg-base-300 text-secondary-content font-medium;
}

.edit-card-field-toggle {
    @apply toggle bg-base-300 text-secondary-content checked:bg-base-100 checked:text-accent-content;
}


/* end object edit page */
/* start detail object view */
.detail-card {
    @apply card bg-base-300 shadow-xl hover:shadow-2xl transition-shadow duration-300 text-primary-content;
}

.detail-card-title {
    @apply card-title text-primary lg:text-xl text-lg mb-4;
}

.detail-card-body {
    @apply card-body px-6 py-4;
}

.detail-card-field-name {
    @apply text-primary-content/60 font-semibold;
}

.detail-card-field-value {
    @apply text-primary-content font-medium;
}

.detail-card-field-value-secondary {
    @apply text-primary-content/50 font-medium;
}

.detail-action-card {
    @apply card bg-base-200 shadow-xl hover:shadow-2xl transition-shadow duration-300 text-base-content mt-6;
}

.detail-action-card-title {
    @apply card-title text-base-content lg:text-xl text-lg mb-4;
}

.detail-action-card-body {
    @apply card-body px-6 py-4;
}

/* end detail object view */
/* start delete confirmation */
.delete-confirmation-card {
    @apply card bg-base-200 shadow-xl hover:shadow-2xl transition-shadow duration-300 text-error-content m-6;
}

.delete-confirmation-card-title {
    @apply card-title text-error-content lg:text-xl text-lg mb-4;
}

.delete-confirmation-card-body {
    @apply card-body px-6 py-4;
}

.delete-confirmation-card-field-name {
    @apply text-error-content/60 font-semibold;
}

.delete-confirmation-card-field-value {
    @apply text-error-content font-medium;
}

.delete-confirmation-card-actions {
    @apply card-actions justify-end gap-1;
}

.delete-confirmation-card-button-cancel {
    @apply btn bg-primary mr-4
}

.delete-confirmation-card-button-delete {
    @apply btn btn-error
}

/* end delete confirmation */