@import "tailwindcss";


@plugin "daisyui" {
    themes: dark --default --prefersdark;
    logs: true;
}

@plugin "daisyui/theme" {
    name: "dark";
    prefersdark: true;
    color-scheme: dark;
    --color-base-200: #819d76;
    --color-base-100: #d2ae98;
    --color-base-300: #67260b;
    --color-base-content: oklch(14% 0.005 285.823);
    --color-primary: #e0960b;
    --color-primary-content: oklch(96% 0.018 272.314);
    --color-secondary: #303a2b;
    --color-secondary-content: oklch(94% 0.028 342.258);
    --color-accent: #61303e;
    --color-accent-content: oklch(38% 0.063 188.416);
    --color-neutral: oklch(14% 0.005 285.823);
    --color-neutral-content: oklch(92% 0.004 286.32);
    --color-info: #303a2b;
    --color-info-content: #d2ae98;
    --color-success: oklch(76% 0.177 163.223);
    --color-success-content: oklch(37% 0.077 168.94);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: #61303e;
    --color-error: oklch(71% 0.194 13.428);
    --color-error-content: oklch(27% 0.105 12.094);
    --radius-selector: 0.5rem;
    --radius-field: 2rem;
    --radius-box: 2rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 1;
    --ck-spacking-standard: 3em;

    /* Component styling */
    --rounded-box: 0.75rem;
    /* border radius of boxes (card, modal, alert) */
    --rounded-btn: 0.375rem;
    /* border radius of buttons */
    --rounded-badge: 0.5rem;
    /* border radius of badges */

    --animation-btn: 0.25s;
    /* duration of animation when you click on button */
    --animation-input: 0.2s;
    /* duration of animation for inputs like checkbox, toggle, radio, etc */

    --btn-focus-scale: 0.95;
    /* scale transform of button when you focus on it */
    --border-btn: 1px;
    /* border width of buttons */
    --tab-border: 1px;
    /* border width of tabs */
    --tab-radius: 0.5rem;
    /* border radius of tabs */
}

/* custom */
.list-card {
    @apply card bg-base-300 shadow-xl hover:shadow-2xl transition-shadow duration-300 text-secondary-content;
}

.list-card-title {
    @apply card-title text-primary lg:text-xl text-lg
}

.list-add-btn {
    @apply btn btn-primary
}

.list-import-btn {
    @apply btn btn-primary
}



.upload-card {
    @apply card bg-neutral shadow-xl hover:shadow-2xl transition-shadow duration-300;
}

.our-story-card {
    @apply card bg-base-200 text-base-content gap-6 shadow-xl hover:shadow-2xl transition-shadow duration-300;
}

.edit-card {
    @apply card bg-neutral text-neutral-content shadow-xl hover:shadow-2xl transition-shadow duration-300;
}

.input-form-color {
    @apply bg-base-200 text-neutral-content
}