<div class="dropdown dropdown-end">
    <div tabindex="0" role="button" class="btn btn-ghost btn-sm btn-circle">
        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16"></path>
        </svg>
    </div>
    <ul tabindex="0"
        class="dropdown-content menu bg-base-100 text-base-content rounded-box z-[1] w-52 p-2 shadow">
        <li>
            <a href="{{ detail_action }}">View Details</a>
        </li>
        <li>
            <a href="{{ update_action }}">Edit</a>
        </li>
        <li>
            <a href="{{ delete_action }}">Delete</a>
        </li>
    </ul>
</div>
