{% extends "components/layout/base.html" %}

{% load static %}

{% block title %}
    Our Story
{% endblock title %}
{% block content %}
    <img src="{% static 'core/img/ourStory.png' %}"
         alt="Our Story Banner"
         class="max-w-sm rounded-lg justify-self-center" />
    <div class="flex flex-col items-center justify-center mx-auto px-4 py-8">
        <p class="text-lg italic text-base-content/80 pb-8">How a swipe right and a hot take on a first date led to forever</p>
        <!-- Timeline -->
        <div class="grid grid-cols-1 gap-6">
            {% for item in our_story %}
                <div class="our-story-card ">
                    <div class="card-body">
                        <h2 class="card-title">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 class="h-6 w-6"
                                 fill="none"
                                 viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="{{ item.svg }}" />
                            </svg>
                            {{ item.title }}
                        </h2>
                        {% for p in item.content %}<p>{{ p }}</p>{% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>

        {% include "components/call_to_action.html" with content=call_to_action.our_story %}

    </div>
{% endblock content %}
