<!-- required variables
   modal_id: The ID of the modal dialog, used to open and close the modal. 
   form_action: The URL to which the form will be submitted.
   form: The form object containing the fields to be displayed in the modal.
-->
<dialog id="{{ modal_id }}" class="modal">
    <div class="modal-box edit-card max-w-2xl">
        <div class="edit-card-body">
            <form method="post"
                  action="{{ form_action }}"
                  enctype="multipart/form-data"
                  class="space-y-6">
                {% csrf_token %}
                <!-- Display non-field errors -->
                {% if form.non_field_errors %}
                    <div class="alert alert-error">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="h-5 w-5"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                        <div>
                            {% for error in form.non_field_errors %}<p>{{ error }}</p>{% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% for field in form %}
                    <div class="form-control w-full">
                        <label class="label">
                            <span class="edit-card-field-name">{{ field.label }}</span>
                            <!-- if the field is required-->
                            {% if field.required %}<span class="label-text-alt text-error">Required</span>{% endif %}
                        </label>
                        {{ field }}
                        {% if field.errors %}
                            <label class="label">
                                <span class="label-text-alt text-error">
                                    {% for error in field.errors %}{{ error }}{% endfor %}
                                </span>
                            </label>
                        {% endif %}
                    </div>
                {% endfor %}
                <!-- Form Actions -->
                <div class="card-actions justify-end pt-6">
                    <div class="modal-action">
                        <button type="button" class="btn btn-ghost" id="cancel_add_button">Cancel</button>
                        <button type="submit" class="btn btn-primary">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 class="h-5 w-5"
                                 fill="none"
                                 viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                            </svg>
                            Upload File
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</dialog>
