name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write
  issues: write
  pull-requests: write
  id-token: write

jobs:
  release:
    runs-on: ubuntu-latest
    concurrency: release
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Python Semantic Release
        id: release
        uses: python-semantic-release/python-semantic-release@v9.14.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

    #   - name: Fix git object directory permissions
    #     run: sudo chown -R $USER:$USER .git

    #   - name: Configure Git
    #     run: |
    #       git config user.name "github-actions[bot]"
    #       git config user.email "github-actions[bot]@users.noreply.github.com"

    #   - name: Sync changes back to develop
    #     if: steps.release.outputs.released == 'true'
    #     run: |
    #       git fetch origin develop
    #       git checkout develop

    #       git merge --no-ff main -m "chore: sync release changes from main [skip ci]"
    #       git push origin develop
